**/.git
**/.svn
**/.hg
**/node_modules
wrangler.jsonc

# Package Managers
package-lock.json
pnpm-lock.yaml
yarn.lock
LICENSE

# Paraglide
src/lib/paraglide/**
project.inlang/**
src/worker-configuration.d.ts