@import "tailwindcss";

@plugin "daisyui" {
  themes: night --default;
}

@plugin "daisyui/theme" {
  name: "night";
  default: true;
  prefersdark: true;
  color-scheme: "dark";
  --color-base-100: oklch(20.768% 0.039 265.754);
  --color-base-200: oklch(19.314% 0.037 265.754);
  --color-base-300: oklch(17.86% 0.034 265.754);
  --color-base-content: oklch(98% 0.003 247.858);
  --color-primary: oklch(59% 0.245 262.881);
  --color-primary-content: oklch(96% 0.014 254.604);
  --color-secondary: oklch(68.011% 0.158 276.934);
  --color-secondary-content: oklch(13.602% 0.031 276.934);
  --color-accent: oklch(70% 0.14 182.503);
  --color-accent-content: oklch(27% 0.046 192.524);
  --color-neutral: oklch(40% 0.031 252.42);
  --color-neutral-content: oklch(92% 0.013 255.508);
  --color-info: oklch(68% 0.169 237.323);
  --color-info-content: oklch(28% 0.091 267.935);
  --color-success: oklch(80% 0.169 151.711);
  --color-success-content: oklch(26% 0.065 152.934);
  --color-warning: oklch(90.9% 0.169 91.605);
  --color-warning-content: oklch(42.1% 0.095 57.708);
  --color-error: oklch(88.5% 0.062 18.334);
  --color-error-content: oklch(25.8% 0.092 26.042);
  --radius-selector: 2rem;
  --radius-field: 2rem;
  --radius-box: 0.5rem;
  --size-selector: 0.25rem;
  --size-field: 0.25rem;
  --border: 1px;
  --depth: 0;
  --noise: 0;
}

@layer base {
  :root {
    --dc-blurple: #5a65db;
    --max-w: 1100px;
  }

  html {
    scroll-behavior: smooth;
    max-width: screen;
    scrollbar-width: thin;
    scrollbar-color: rgba(var(--dc-blurple), 0.6) transparent;
  }

  body {
    font-family: "Poppins", sans-serif;
    font-size: 1rem;
    line-height: 1.5;
    color: var(--color-base-content);
    background-color: var(--color-base-100);
    background: var(--color-base-100);
    width: 100%;
    min-height: 100vh;
  }

  /* Custom Scrollbar for WebKit Browsers */
  ::-webkit-scrollbar {
    width: 8px;
    background-color: transparent;
  }

  ::-webkit-scrollbar-thumb {
    background-color: rgba(var(--dc-blurple), 0.6);
    border-radius: 4px;
  }

  ::-webkit-scrollbar-thumb:hover {
    background-color: var(--dc-blurple);
  }

  p {
    a {
      margin-right: 2px;
    }
  }
}

@layer components {
  .nav-link {
    @apply link p-2 text-lg transition-colors duration-150 hover:text-white/70;
    height: 100%;
    color: #ffffff;
    text-decoration-line: none;
  }

  .nav-link-premium {
    @apply font-bold text-amber-400 hover:text-amber-400/70;
  }

  .nav-button {
    @apply btn btn-primary btn-soft btn-md rounded-3xl px-4 py-1 text-xl;

    &.nav-button-premium {
      @apply btn-warning;
    }
  }

  .add-bot-btn {
    @apply btn btn-primary btn-soft btn-lg min-w-40 rounded-4xl px-3 text-xl;
  }

  .mobile-menu {
    @apply border-base-200 bg-base-200 top-20 gap-2 border-b shadow-2xl lg:hidden;
    position: absolute;
    left: 0;
    right: 0;
    z-index: 500;
    text-align: center;
  }

  .soft-success-card {
    @apply gap-2 rounded-xl p-4;
    color: var(--color-success, var(--color-base-content) /* var(--color-base-content) */);
    background-color: color-mix(
      in oklab,
      var(--color-success, var(--color-base-content) /* var(--color-base-content) */) 8%,
      var(--color-base-100) /* var(--color-base-100) */
    );
  }
}

@layer utilities {
  .sm-prose {
    h1 {
      font-size: 2.5rem;
      margin-bottom: 2rem;
      color: var(--dc-blurple);
      text-align: center;
      font-weight: bold;
    }

    h2,
    h3 {
      color: var(--color-primary);
      margin-bottom: 1rem;
      margin-top: 1.3rem;
      font-weight: 500;
    }

    h2 {
      font-size: 1.8rem;
    }

    h3 {
      font-size: 1.5rem;
    }

    section {
      margin-block: 3rem;
    }

    .contact-section {
      gap: 5px;
    }

    p {
      line-height: 1.6;
      font-size: 1rem;
      margin-bottom: 10px;
    }

    ul {
      list-style-type: none;
      margin-left: 2rem;

      li::before {
        content: "";
        display: inline-block;
        width: 10px;
        height: 10px;
        background-color: var(--color-secondary);
        border-radius: 1rem;
        margin-right: 10px;
        left: -20px;
        top: 6px;
      }
    }

    li {
      margin: 0.5rem 0;
      line-height: 1.4;
    }

    @media (max-width: 600px) {
      h1 {
        font-size: 2rem;
      }

      h2 {
        font-size: 1.5rem;
      }
    }
  }
}